<form method="POST" action="/albums">
  <div>
    <label>Album title</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Album release year</label>
    <input type="text" name="release_year">
  </div>
  <div>
    <label>Album artist id</label>
    <input type="text" name="artist_id">

    <!-- <select>
      <option>Radiohead</option>
      <option>Pixies</option>
    </select> -->

  </div>
  <div>
    <input type="submit" value="Submit the form">
  </div>
</form>
