<form method="POST" action="/artists">
  <div>
    <label>Artist name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Artist genre</label>
    <input type="text" name="genre">
  </div>

  <div>
    <input type="submit" value="Submit the form">
  </div>
</form>
